<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Snap4me</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook_login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1498139217250116</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google_login</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1012977029333-mrtrfv61995ucib8895mg47kr10tu15i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google_map</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.360391607184-n0qph9d26ioam47lsh3cd1dm5uqnn34o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.app.virtualeverywhere</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.app.virtualeverywhere</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>$(KEY_CODE_PUSH_IOS)</string>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookClientToken</key>
	<string>$(FACEBOOK_CLIENT_TOKEN)</string>
	<key>FacebookDisplayName</key>
	<string>$(FACEBOOK_DISPLAY_NAME)</string>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://snap4me.page.link/app</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSCameraUsageDescription</key>
	<string>Application requests access to your Camera in order to take pictures. The photo that you take will be selected to validate the information you have provided to the application.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location in order to identify the best listed requests to be shown to you around your area. This will allow you to quickly look at jobs that are available near you to do</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We use your location in order to identify the best listed requests to be shown to you around your area. This will allow you to quickly look at jobs that are available near you to do</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location in order to identify the best listed requests to be shown to you around your area. This will allow you to quickly look at jobs that are available near you to do</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Application requires Microphone phone access to record</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Application requires permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application requires access to your Camera in order to take pictures. The photo that you take will be selected to authenticate the information you have provided on the application.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-Bold.ttf</string>
		<string>DMSans-BoldItalic.ttf</string>
		<string>DMSans-Italic.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-MediumItalic.ttf</string>
		<string>DMSans-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
