APP_ENV=development
API_URL=https:/$()/livestream.techzeus.co
APP_DISPLAY_NAME=Snap4me
APP_PLACEHOLDER_NAME=Snap4me
VERSION_CODE=57
VERSION_NAME=1.0.8
BUNDLE_IDENTIFIER=com.app.virtualeverywhere
ANDROID_APP_ID=com.app.virtualeverywhere
APPSTORE_ID=1623432620
KEY_OMISE=pkey_test_5rv6p277q8utk84m4vx
IOS_GOOGLE=1012977029333-ccqumeqcqd3fdhuvqp1gjjl8gm8iq8be.apps.googleusercontent.com
ANDROID_GOOGLE=1012977029333-ccqumeqcqd3fdhuvqp1gjjl8gm8iq8be.apps.googleusercontent.com
GOOGLE_MAP_KEY=AIzaSyDLhd9XefFpeUg4IElB8o61-bltlA-oSzo
DYNAMIC_LINK=https:/$()/snap4me.page.link
FACEBOOK_APP_ID=1498139217250116
FACEBOOK_CLIENT_TOKEN=f2532a69f270ff8e560df09ecb6b2797
FACEBOOK_LOGIN=fb1498139217250116
FACEBOOK_DISPLAY_NAME=Snap4me
KEY_CODE_PUSH_ANDROID=86TsVIfZGG2YcmRKCGMxCyQ21ljOwbkm4VeBC
KEY_CODE_PUSH_IOS=oof0QCD1LXyMibIoeJhH376wzbLsfLsUoNF2K
keystorePass=livestream@123
alias=Snap4me
